@font-face {
    font-family: loew-next;
    src: url("../font/LoewNext-Regular.otf");
}

.body{
    font-family: 'loew-next', sans-serif;
    scroll-behavior: smooth;
}

.hero-image{
    background-image: url("../image/happy-family.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}