@font-face {
    font-family: loew-next;
    src: url("../font/LoewNext-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
    font-family: 'loew-next', sans-serif;
    line-height: 1.6;
}

.hero-background {
  background-image: url('../image/happy-family.jpg'); /* Ganti dengan URL gambar Anda */
  background-size: cover; /* Agar gambar menutupi seluruh area */
  background-position: center; /* Pusatkan gambar */
  background-repeat: no-repeat; /* Hilangkan pengulangan gambar */
  height: 400px; /* Atur tinggi sesuai kebutuhan */
  display: flex;
  align-items: center; /* Agar konten di tengah secara vertikal */
}

.hero-content > h2{
    background-color: #344f6c;
    font-weight: 700;
    color: #ffff;
    padding: 10px 10px;
    border-radius: 10px;
}